.footer{
    height: 52vh;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 18px;
}

.footerNav ul{
    display: flex;
    gap: 20px;
}

.contact{
    display: flex;
}

.contact{
    padding-bottom: 10px;
    border-bottom: solid 1px white;
}

.contact input{
    width: 512px;
    background: none;
    outline: none;
    color: white;
}

.contact input::placeholder{
    color: white;
}

.contact button{
    color: #f26522;
    transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contact button:hover{
    color: white;
}

.footerNav ul li a{
    transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footerNav ul li a:hover{
    color: #f26522;
}

.hotlineSection p a{
    transition: color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hotlineSection p a:hover{
    color: #f26522;
}

.footerLogo1{
    cursor: pointer;
}